@blue: #205493;
@blue-light: #3e94cf;
@font-normal: 1.4rem;
@line-height-normal: 1.2;

//decimal-places should be 10, 100, 1000, etc
.truncate(@number, @decimal-places) {
  @truncate: floor(@number * @decimal-places) / @decimal-places;
}
