@import '_vars.less';

@button-line-height: @font-normal * @line-height-normal; //Need line height in rems for button-height math
@button-border-width: 1px;
@button-arrow-width: .9rem;
@button-vertical-padding: .6rem;
@button-horizontal-padding: 2.8rem;
@button-height: calc(@button-line-height ~"+" calc(@button-vertical-padding * 2) ~"+" calc(@button-border-width * 2));


html {
  font-size: 10px;
}

.button {
  display: inline-block;
  font-weight: 400;
  font-family: 'SourceSansPro-Regular', 'Source Sans Pro', sans-serif;
  font-size: @font-normal;
  line-height: @line-height-normal;
  outline: none;
  border: @button-border-width solid transparent;
  padding: @button-vertical-padding @button-horizontal-padding;
  border-radius: 3px;
  cursor: pointer;
  background-color: @blue;
  color: #fff;
  &:hover:not(:disabled) {
    border-color: @blue;
    color: @blue;
    background-color: #fff;
  }
  &:disabled {
    background-color: #f1f1f1;
    color: #5B616B;
    cursor: auto;
  }
}
.button--secondary {
  background-color: @blue-light;
  &:hover:not(:disabled) {
    border-color: @blue-light;
    color: @blue-light;
    background-color: #fff;
  }
}
.button--cancel {
  background-color: #fff;
  color: @blue;
  text-transform: uppercase;
  font-weight: bold;
  &:hover:not(:disabled) {
    border-color: @blue-light;
    color: @blue-light;
  }
}
.button--forward {
  position: relative;
  margin-right: @button-arrow-width;
  border-radius: 3px 0 0 3px;
  &:after,
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    right: calc(-@button-arrow-width ~"-" @button-border-width);
    top: -@button-border-width;
    border-style: solid;
    border-color: transparent transparent transparent @blue;
    .truncate(@button-line-height, 10);
    border-top-width: calc(calc(@truncate ~"+" calc(@button-vertical-padding * 2) ~"+" calc(@button-border-width * 2)) ~"/" 2);
    border-right-width: 0;
    border-bottom-width: calc(calc(@truncate ~"+" calc(@button-vertical-padding * 2) ~"+" calc(@button-border-width * 2)) ~"/" 2);
    border-left-width: @button-arrow-width;
  }
  &.button--secondary:after,
  &.button--secondary:before {
    border-left-color: @blue-light;
  }
  &:hover:not(:disabled):after{
    content: '';
    border-left-color: white;
    right: -@button-arrow-width;
  }
}
.button--back {
  position: relative;
  margin-left: @button-arrow-width;
  border-radius: 0 3px 3px 0;
  &:after,
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: calc(-@button-arrow-width ~"-" @button-border-width);
    top: -@button-border-width;
    border-style: solid;
    border-color: transparent @blue transparent transparent;
    .truncate(@button-line-height, 10);
    border-top-width: calc(calc(@truncate ~"+" calc(@button-vertical-padding * 2) ~"+" calc(@button-border-width * 2)) ~"/" 2);
    border-right-width: @button-arrow-width;
    border-bottom-width: calc(calc(@truncate ~"+" calc(@button-vertical-padding * 2) ~"+" calc(@button-border-width * 2)) ~"/" 2);
    border-left-width: 0;
  }
  &.button--secondary:after,
  &.button--secondary:before {
    border-right-color: @blue-light;
  }
  &:hover:not(:disabled):after{
    content: '';
    border-right-color: white;
    left: -@button-arrow-width;
  }
}
