@import '_vars.less';

@tabs-height-normal: 60rem;
@tabs-height-short: 30rem;
@tabs-height-tall: 90rem;

html {
  font-size: 10px;
}
.tabs-section {
  font-size: @font-normal;
  font-family: @font-family-normal;

  .tab-wrapper {
    position: relative;
  }
  .tab {
    display: inline-block;
    & > label {
      display: inline-block;
      position: relative;
      top: 0;
      padding: .6rem 1rem;
      min-width: 10rem;
      color: white;
      background-color: @blue-light;
      border: 1px solid @blue-light;
      border-bottom-width: 0;
      border-radius: 3px 3px 0 0;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -2rem;
        width: 0;
      	height: 0;
        z-index: 1;
      	border-bottom: 2.6rem solid @blue-light;
      	border-right: 2rem solid transparent;
      }
      &:hover {
        background-color: @blue-dark;
        &::after {
          border-bottom-color: @blue-dark;
        }
      }
    }
    &:first-child label {
      left: -1px;
    }
    & > input {
      visibility: hidden;
      position: absolute;
      top: -99999999rem;
      left: -999999999rem;
    }
  }
  .tab-content {
    position: absolute;
    left: 0;
    display: none;
  }
  .tab > input:checked {
    &~label {
      background-color: white;
      border: 1px solid @blue-dark;
      border-bottom-width: 0;
      color: @blue-dark;
      &::after {
        content: '';
        right:-1.9rem;
        border-bottom-color: white;
      }
      &::before {
        content: '';
        width: 0;
      	height: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        right: -2rem;
      	border-bottom: 2.6rem solid @blue-dark;
      	border-right: 2rem solid transparent;
      }
    }
    &~.tab-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60rem;
      width: 100%;
    }
  }

  .content-section {
    height: 60rem;
    outline: 1px solid @blue-dark;
  }
}
