html {
  font-size: 10px;
}
.radio-buttons input[type=checkbox] + label:hover:before,
.radio-buttons input[type=radio] + label:hover:before {
  background: #205493;
}
.radio-buttons [type="radio"]:checked,
.radio-buttons [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999em;
}
.radio-buttons [type="radio"]:checked + label,
.radio-buttons [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 2.8em;
  cursor: pointer;
  line-height: 2.0em;
  display: inline-block;
  color: #666;
}
.radio-buttons [type="radio"]:checked + label:before,
.radio-buttons [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 0.1em solid #205493;
  border-radius: 100%;
  background: #fff;
}
.radio-buttons [type="radio"]:checked + label:after,
.radio-buttons [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 1em;
  height: 1em;
  background: #205493;
  position: absolute;
  top: .3em;
  left: .3em;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio-buttons [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio-buttons [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
