@import '_vars.less';

@verror-arrow-width: @arrow-width;
@verror-vertical-padding: .6rem;
@verror-horizontal-padding: 2rem;
@verror-border-width: 1px;
@verror-line-height: @line-height-normal * @font-normal; //put line height in units for calc functions
@verror-height: calc(@verror-line-height ~"+" calc(@verror-vertical-padding * 2) ~"+" calc(@verror-border-width * 2));

// .notification {
//   .fa-exclamation::after {
//     content: "This field is required.";
//     position: relative;
//     bottom: 0em;
//     border: 1px solid @red;
//     width: 100%;
//     opacity: 0;
//     padding: .25em .25em;
//     border-radius: .25em;
//     font-size: 1.2rem;
//     background: #f9dede;
//     margin-left: .25em;
//   }
//   .fa-exclamation:hover {
//     &::after {
//       opacity: 1;
//     }
//   }
//   .fa-exclamation {
//     cursor: pointer;
//   }
// }
//
// // Psuedo Styles can't be nested under a parent:
//
// .date-input input:invalid,
// .select-wrapper select:invalid,
// .text-input input:invalid,
// .type-ahead input:invalid {
//   border: 1px solid @red;
// }
//
// // I. Select an Option Dropdown Validation Styles:
//
// .select:invalid {
//   select {
//     border: 1px solid @red;
//   }
//   .fa-exclamation {
//     color: @red;
//     font-size: @font-normal + .5em;
//   }
// }
//
// .select:valid {
//   .fa-exclamation {
//     display: none;
//   }
// }
//
// // overriding the styles on dropdowns.less for the select arrow
// // cause its messed up a bit due to the exclamation icon's font size:
// .select-wrapper::after {
//   left: 11rem;
// }
//
// // II. Date Picker Validation Features
//
// .date-input:invalid {
//   &::before {
//     content: "*";
//     color: @red;
//     font-weight: bold;
//     margin-right: .25em;
//     position: relative;
//     bottom: .5em;
//     left: .25em;
//   }
//   .fa-exclamation {
//     color: @red;
//     font-size: @font-normal;
//     &::after {
//       //content: "Invalid date entered. Format MM/DD/YYY";
//     }
//   }
//   .fa-calendar {
//     font-size: @font-normal;
//   }
// }
//
// .date-input:valid {
//   .fa-exclamation {
//     display: none;
//   }
// }
//
// // III. Text Input Validation
//
// .text-input:invalid {
//   label {
//     color: @red;
//   }
//   .fa-exclamation {
//     color: @red;
//     position: relative;
//     font-size: 1.2rem;
//   }
//   label::before {
//     content: "*";
//     color: @red;
//     font-weight: bold;
//     margin-right: .25em;
//   }
// }
//
// .text-input:valid {
//   .fa-exclamation {
//     display: none;
//   }
// }
//
// // IV. Type-Ahead Validation
//
// .type-ahead {
//   &:invalid {
//     label {
//       color: @red;
//     }
//     .fa-exclamation {
//       color: @red;
//       position: relative;
//       font-size: 3em;
//       left: .25em;
//       display: flex;
//       align-self: center;
//     }
//     label::before {
//       content: "*";
//       color: @red;
//       font-weight: bold;
//       margin-right: .25em;
//     }
//   }
//   &:valid {
//   .fa-exclamation {
//     display: none;
//     }
//   }
// }


// ------------------ New Styles
.input-wrapper.invalid {
  input, select {
    border: @verror-border-width solid @red;
  }
  .validation-error {
    display: inline-block;
  }
  label {
    color: @red;
    &::before {
      content: '*';
    }
  }
}
.radio-button-group.invalid,
.checkbox-group.invalid {
  border: @verror-border-width dashed @red;
  border-radius: 3px;

  label:first-of-type::before {
    content: '*';
    color: @red;
  }
}
.validation-error {
  display: none;
  color: @red;
  cursor: pointer;
  border: none;
  font-size: @font-normal;
  background-color: transparent;
  line-height: @line-height-normal;
  padding: 0;
  &:focus .validation-error__message,
  &:hover .validation-error__message {
    display: inline-block;
  }
  .fa {
    padding: @verror-vertical-padding .5rem;
  }
}
.validation-error__message {
  display: none;
  border: @verror-border-width solid @red;
  border-radius: 0 3px 3px 0;
  margin-left: @verror-arrow-width;
  padding: @verror-vertical-padding @verror-horizontal-padding;
  background-color: @red-light;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    left: calc(-@verror-arrow-width ~"-" @verror-border-width);
    top: -@verror-border-width;
    border-style: solid;
    border-color: transparent @red transparent transparent;
    .truncate(@verror-line-height, 10);
    border-top-width: calc(calc(@truncate ~"+" calc(@verror-vertical-padding * 2) ~"+" calc(@verror-border-width * 2)) ~"/" 2);
    border-right-width: @verror-arrow-width;
    border-bottom-width: calc(calc(@truncate ~"+" calc(@verror-vertical-padding * 2) ~"+" calc(@verror-border-width * 2)) ~"/" 2);
    border-left-width: 0;
  }
  &:after {
    content: '';
    border-right-color: @red-light;
    left: -@verror-arrow-width;
  }
}
