@import '_vars.less';

form {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  fieldset {
    border: none;
    padding: 0;
    margin: 1em 0;
    input {
      line-height: @font-normal + .5em;
    }
  }
}

// Psuedo Styles can't be nested under a parent:

.date-input input:invalid,
.select-wrapper select:invalid,
.text-input input:invalid,
.type-ahead input:invalid {
  border: 1px solid red;
}

// I. Select an Option Dropdown Validation Styles:

.select:invalid {
  select {
    border: 1px solid red;
  }
  .fa-exclamation {
    color: red;
    font-size: @font-normal + .5em;
  }
}

.select:valid {
  .fa-exclamation {
    display: none;
  }
}

// overriding the styles on dropdowns.less for the select arrow
// cause its messed up a bit due to the exclamation icon's font size:
.select-wrapper::after {
  left: 11rem;
}

// II. Date Picker Validation Features

.date-input:invalid {
  .fa-exclamation {
    margin-left: -1em;
    color: red;
    position: relative;
    right: .8em;
    font-size: @font-normal;
  }
  span.asterik:before {
    content: '*';
    color: red;
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    right: 10.9em;
    bottom: .3em;
  }
}

.date-input input:valid ~ .fa-exclamation {
  display: none;
}

// III. Text Input Validation

.text-input:invalid {
  label {
    color: red;
  }
  .fa-exclamation {
    color: red;
    position: relative;
    right: .75em;
    font-size: 1.2rem;
  }
  .asterik::before {
    content: '*';
    color: red;
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    right: 10.9em;
    bottom: 1.3em;
  }
}

.text-input:valid {
  .fa-exclamation {
    display: none;
  }
}

// IV. Type-Ahead Validation

.type-ahead {
  &:invalid {
    label {
      color: red;
    }
    .fa-exclamation {
      color: red;
      position: relative;
      font-size: 3em;
      left: .25em;
      display: flex;
      align-self: center;
    }
    .asterik::before {
      content: '*';
      color: red;
      position: relative;
      font-weight: bold;
      font-size: 1.2rem;
      right: 42.25em;
      bottom: 1.1em;
    }
  }
  &:valid {
  .fa-exclamation {
    display: none;
    }
  }
}
