form {
  display: flex;
  flex-direction: column;
}
form fieldset {
  border: none;
  padding: 0;
  margin: 1em 0;
}
form fieldset input {
  line-height: 1.7rem;
}
.date-input input:invalid,
.select-wrapper select:invalid,
.text-input input:invalid {
  border: 1px solid red;
}
.select:invalid select {
  border: 1px solid red;
}
.select:invalid .fa-exclamation {
  color: red;
  font-size: 1.7rem;
}
.select:valid .fa-exclamation {
  display: none;
}
.select-wrapper::after {
  left: 11rem;
}
.date-input:invalid .fa-exclamation {
  margin-left: -1em;
  color: red;
  position: relative;
  right: .8em;
  font-size: 1.2rem;
}
.date-input:invalid span.asterik:before {
  content: '*';
  color: red;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
  right: 10.9em;
  bottom: .3em;
}
.date-input input:valid ~ .fa-exclamation {
  display: none;
}
html {
  font-size: 10px;
}
.has-dropdown,
.dropdown,
.dropdown__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.has-dropdown {
  display: inline-block;
  font-size: 1.2rem;
  font-family: 'SourceSansPro-Regular', 'Source Sans Pro', sans-serif;
  background-color: #dce4ef;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.has-dropdown > span {
  padding: 1rem;
  padding-right: 3rem;
  display: inline-block;
  position: relative;
  color: #205493;
}
.has-dropdown > span::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.25rem);
  border: .5rem solid transparent;
  border-bottom-width: 0;
  border-top-color: #205493;
}
.has-dropdown .dropdown {
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  width: 100%;
  padding: .5rem 0;
}
.has-dropdown .dropdown__item {
  padding: .5rem 1rem;
  cursor: pointer;
}
.has-dropdown .dropdown__item:hover {
  background-color: #3e94cf;
  color: white;
}
.has-dropdown:hover {
  background-color: #f1f1f1;
}
.has-dropdown:hover > span::after {
  content: '';
  border-top-width: 0;
  border-bottom-width: .5rem;
  border-bottom-color: #205493;
}
.has-dropdown:hover .dropdown {
  display: block;
}
.select-wrapper {
  display: inline-block;
  position: relative;
}
.select-wrapper select {
  outline: 0;
  padding: 1rem;
  padding-right: 3rem;
  border-radius: 3px;
  font-size: 1.2rem;
  font-family: 'SourceSansPro-Regular', 'Source Sans Pro', sans-serif;
  color: #205493;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.select-wrapper select::-ms-expand {
  display: none;
}
.select-wrapper .select__title:disabled {
  display: none;
}
.select-wrapper::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.25rem);
  border: .5rem solid transparent;
  border-bottom-width: 0;
  border-top-color: #205493;
}
.select-wrapper:hover select {
  border-color: #3e94cf;
  background-color: white;
  color: #3e94cf;
}
input.date-picker::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input.date-picker::-webkit-datetime-edit-text {
  color: green;
}
