@import '_vars.less';

html {
  font-size: 10px;
}

//resetting list styles on all dropdown elements
.has-dropdown,
.dropdown,
.dropdown__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.has-dropdown {
  display:inline-block;
  font-size: @font-normal;
  font-family: @font-family-sans;
  background-color: #dce4ef;
  box-sizing: border-box;
  //border: 1px solid transparent;
  cursor: pointer;
  & > span {
    padding: 1rem;
    padding-right: 3rem;
    display:inline-block;
    position: relative;
    color: @blue;
    &::after {
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      right: 1rem;
      top: calc(50% ~'-' .25rem);
      border: .5rem solid transparent;
      border-bottom-width: 0;
      border-top-color: @blue;
    }
  }
  .dropdown {
    outline: 1px solid #aeb0b5;
    background-color: #f1f1f1;
    display: none;
    position: relative;
    padding: .5rem 0;
  }
  &:hover .dropdown {
    display: block;
  }
  &:hover > span {
    background-color: white;
    &::after {
      content: '';
      border-top-width: 0;
      border-bottom-width: .5rem;
      border-bottom-color: @blue;
    }
  }
  .dropdown__item {
    padding: .5rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: @blue-light;
      color: white;
    }
  }
}
