.input-wrapper.invalid input,
.input-wrapper.invalid select {
  border: 1px solid #e31c3d;
}
.input-wrapper.invalid .validation-error {
  display: inline-block;
}
.input-wrapper.invalid label {
  color: #e31c3d;
}
.input-wrapper.invalid label::before {
  content: '*';
}
.radio-button-group.invalid,
.checkbox-group.invalid {
  border: 1px dashed #e31c3d;
  border-radius: 3px;
}
.radio-button-group.invalid label:first-of-type::before,
.checkbox-group.invalid label:first-of-type::before {
  content: '*';
  color: #e31c3d;
}
.validation-error {
  display: none;
  color: #e31c3d;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  line-height: 1.2;
  padding: 0;
}
.validation-error:focus .validation-error__message,
.validation-error:hover .validation-error__message {
  display: inline-block;
}
.validation-error .fa {
  padding: 0.6rem 0.5rem;
}
.validation-error__message {
  display: none;
  border: 1px solid #e31c3d;
  border-radius: 0 3px 3px 0;
  margin-left: 0.9rem;
  padding: 0.6rem 2rem;
  background-color: #f9dede;
  position: relative;
}
.validation-error__message:before,
.validation-error__message:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: calc(-0.9rem - 1px);
  top: -1px;
  border-style: solid;
  border-color: transparent #e31c3d transparent transparent;
  border-top-width: calc(calc(1.4rem + calc(1.2rem) + calc(2px)) / 2);
  border-right-width: 0.9rem;
  border-bottom-width: calc(calc(1.4rem + calc(1.2rem) + calc(2px)) / 2);
  border-left-width: 0;
}
.validation-error__message:after {
  content: '';
  border-right-color: #f9dede;
  left: -0.9rem;
}
html {
  font-size: 10px;
}
.type-ahead__search-container {
  display: flex;
}
.type-ahead__search-container .type-ahead__input,
.type-ahead__search-container .type-ahead__arrow {
  border-radius: .25em;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.type-ahead__search-container .type-ahead__input {
  border: 0.1em solid #eeeeee;
  width: 50rem;
  outline: none;
  text-indent: .25em;
  font-size: 1.2rem;
}
.type-ahead__search-container .type-ahead__arrow {
  display: flex;
  width: 2em;
  height: 2em;
  background: #3e94cf;
  margin-left: -2em;
  border: .10em solid #4395CD;
}
.type-ahead__search-container .type-ahead__arrow i.fa.fa-angle-down {
  color: white;
  font-size: 1.7rem;
}
.type-ahead__search-container .type-ahead span.notification {
  display: flex;
}
.type-ahead__options {
  display: flex;
  flex-direction: column;
  width: 48.2rem;
  max-height: 10em;
  border: 0.1em solid #eeeeee;
  overflow-y: scroll;
  min-height: 2em;
}
.type-ahead__options input.type-ahead__option {
  border: none;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.type-ahead__arrow:hover {
  cursor: pointer;
  background: white;
}
.type-ahead__arrow:hover i.fa.fa-angle-down {
  color: #eeeeee;
}
input.type-ahead__option:hover {
  background: blue;
  color: white;
}
.hidden {
  display: none;
}
html {
  font-size: 10px;
}
.has-dropdown,
.dropdown,
.dropdown__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.has-dropdown {
  display: inline-block;
  font-size: 1.2rem;
  font-family: 'SourceSansPro-Regular', 'Source Sans Pro', sans-serif;
  background-color: #dce4ef;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.has-dropdown > span {
  padding: 1rem;
  padding-right: 3rem;
  display: inline-block;
  position: relative;
  color: #205493;
}
.has-dropdown > span::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.25rem);
  border: .5rem solid transparent;
  border-bottom-width: 0;
  border-top-color: #205493;
}
.has-dropdown .dropdown {
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  width: 100%;
  padding: .5rem 0;
  z-index: 999999;
}
.has-dropdown .dropdown__item {
  padding: .5rem 1rem;
  cursor: pointer;
}
.has-dropdown .dropdown__item:hover {
  background-color: #3e94cf;
  color: white;
}
.has-dropdown:hover {
  background-color: #f1f1f1;
}
.has-dropdown:hover > span::after {
  content: '';
  border-top-width: 0;
  border-bottom-width: .5rem;
  border-bottom-color: #205493;
}
.has-dropdown:hover .dropdown {
  display: block;
}
.select-wrapper {
  display: inline-block;
  position: relative;
}
.select-wrapper select {
  outline: 0;
  padding: 1rem;
  padding-right: 3rem;
  border-radius: 3px;
  font-size: 1.2rem;
  font-family: 'SourceSansPro-Regular', 'Source Sans Pro', sans-serif;
  color: #205493;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.select-wrapper select::-ms-expand {
  display: none;
}
.select-wrapper .select__title:disabled {
  display: none;
}
.select-wrapper::after {
  content: '';
  height: 0;
  width: 0;
  position: relative;
  right: 3.75rem;
  top: 1rem;
  border: .5rem solid transparent;
  border-bottom-width: 0;
  border-top-color: #205493;
}
.select-wrapper:hover select {
  border-color: #3e94cf;
  background-color: white;
  color: #3e94cf;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
form fieldset {
  border: none;
  padding: 0;
  margin: 1em 0;
}
form fieldset input {
  line-height: 1.7rem;
  border: 0.1em solid #eeeeee;
  height: 2em;
  border-radius: 0.25em;
}
form .text-input label {
  width: 100%;
  display: flex;
}
form .radio-button-group {
  display: flex;
  width: 50%;
}
form .radio-button-group .radio-buttons__container {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  margin-left: 1em;
  padding: 1em;
  border-radius: .75em;
}
form .radio-button-group .radio-buttons__container label {
  width: 80%;
  max-width: 85%;
}
form .radio-button-group .radio-buttons__container label:first-of-type {
  width: 100%;
  margin: 0 1em .5em 0;
}
form .radio-button-group .radio-buttons__container input[type="radio"] {
  margin-left: 1.25em;
}
