* {
  font-family: Helvetica, Arial, sans-serif;}

.pagination {
  text-align: center;
  margin-left: 0;
  margin-top: 0.125rem;
  margin-bottom: 0rem; }
  .pagination::before, .pagination::after {
	display: table;
	content: ' '; }
  .pagination::after {
	clear: both; }
  .pagination li {
	margin-right: 0.0625rem;
	border-radius: 100%;
	font-size: 0.875rem;
	display: none; }
	 .pagination li:last-child, .pagination li:first-child {
	  display: inline-block; }
	@media print, screen and (min-width: 40em) {
	  .pagination li {
		display: inline-block; } }
  .pagination a,
  .pagination button {
	display: block;
	padding: 0.1875rem 0.625rem;
	border-radius: 50%;
	text-decoration: none;
	border: none;
	color: #323a45; }
	.pagination a:hover,
	.pagination button:hover {
	  font-weight: 700;
	  color: #323a45;
	  text-decoration: none;
	  padding: 0.1875rem 0.625rem}
  .pagination .current {
	padding: 0.1875rem 0.625rem;
	color: #888888;
	border: .125rem solid #FDB81E;
	cursor: default; }
  .pagination .disabled {
	padding: 0.1875rem 0.625rem;
	color: #cacaca;
	cursor: not-allowed; }
	.pagination .disabled:hover {
	  background: transparent; }
  .pagination .ellipsis::after {
	padding: 0.1875rem 0.625rem;
	content: '\2026';
	color: #323a45; }

.pagination-first a::before,
.pagination-first.disabled::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: '\00ab'; }
  
.pagination-previous a::before,
.pagination-previous.disabled::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: '\2039'; }  

.pagination-next a::after,
.pagination-next.disabled::after {
  display: inline-block;
  margin-left: 0.5rem;
  content: '\203A'; }
  
.pagination-last a::after,
.pagination-last.disabled::after {
  display: inline-block;
  margin-left: 0.5rem;
  content: '\00bb'; }